<div class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Passport Demo</a>
        </div>
        <div class="">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=""
                       ng-click="clickLoginPage()"
                       ng-show="!models.username">Login</a>
                </li>
                <li ng-show="username">
                    <a href="">{{username}}</a>
                </li>

                <li>
                    <a href=""
                       ng-click="clickLogout()"
                       ng-show="models.username">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="container">
    <div class="row">
        <div class="col-sm-3 col-md-4">
        </div>
        <div class="col-sm-6 col-md-4">
            <div ng-show="loggedIn">
                <div>You are already logged in as {{models.username}}.</div>
            </div>
            <fieldset class="login" ng-show="!doReg && !loggedIn">
                <legend>Login</legend>
                <form name="LoginForm"
                      rc-submit="clickLogin()"
                      novalidate>
                    <div class="form-group"
                         ng-class="{ 'has-error': rc.LoginForm.needsAttention(LoginForm.Username)}">
                        <label for="Username">Username</label>
                        <input class="form-control"
                               name="Username"
                               ng-model="models.username"
                               type="text"
                               required/>
                        <span class="help-block"
                              ng-show="rc.LoginForm.needsAttention(LoginForm.Username)">Required.</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': rc.LoginForm.needsAttention(LoginForm.Password)}">
                        <label for="Password">Password</label>
                        <input class="form-control"
                               name="Password"
                               ng-model="models.password"
                               type="password"
                               required/>
                        <span class="help-block"
                              ng-show="rc.LoginForm.needsAttention(LoginForm.Password)">Required.</span>
                    </div>
                    <div class="pp-alert invalid-cred"
                         ng-show="invalidCred">Invalid Username or Password.</div>
                    <div><span us-spinner spinner-key="spinner-1"></span></div>
                    <button class="btn btn-primary submit-login-form"
                            name="Submit"
                            ng-disabled="ajaxOn"
                            type="submit">Login</button>
                    <div><a href=""" ng-click="clickRegisterNow()">Register now</a></div>
                    <div class="some-buttons" ng-show="!username">
                        <div>Alternatively, login with your social media account:</div>
                        <div class="some-button">
                            <a class="fa-stack fa-lg" href="" ng-click="clickFacebookLogin()">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </a>
                        </div>
                        <div class="some-button">
                            <a class="fa-stack fa-lg" href="" ng-click="clickGoogleLogin()">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-google fa-stack-1x"></i>
                            </a>
                        </div>
                        <div class="some-button">
                            <a class="fa-stack fa-lg" href="" ng-click="clickTwitterLogin()">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </fieldset>
            <fieldset class="register" ng-show="doReg && !loggedIn">
                <legend>Register</legend>
                <form rc-submit="clickRegister()" name="RegisterForm" novalidate>
                    <p><span class="glyphicon glyphicon-star"></span> = The field is mandatory.</p>
                    <div class="form-group"
                         ng-class="{ 'has-error': rc.RegisterForm.needsAttention(RegisterForm.Username)}">
                        <label for="Username">Username <span class="glyphicon glyphicon-star"></span></label>
                        <input class="form-control"
                               name="Username"
                               ng-model="models.username"
                               type="text"
                               required/>
                        <span class="help-block"
                              ng-show="rc.RegisterForm.needsAttention(RegisterForm.Username)">Required.</span>
                    </div>
                    <div ng-show="accSocialMedia()" class="form-group">
                        <label for="Name">Name</label>
                        <input class="form-control"
                               name="Name"
                               ng-model="name"
                               type="text"
                               disabled/>
                        <div>Your name will not be shown to the users of the site.</div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': rc.RegisterForm.needsAttention(RegisterForm.Email)}">
                        <label for="Email">E-mail address <span class="glyphicon glyphicon-star"
                                                                ng-show="!accSocialMedia()"></span>
                        </label>
                        <input class="form-control"
                               name="Email"
                               ng-disabled="accSocialMedia()"
                               ng-model="models.email"
                               type="email"
                               ng-required="!accSocialMedia()"/>
                        <span ng-show="rc.RegisterForm.needsAttention(RegisterForm.Email)">
                            <span class="help-block"
                                  ng-show="RegisterForm.Email.$error.required">Required.</span>
                            <span class="help-block"
                                  ng-show="RegisterForm.Email.$error.email">Not a valid e-mail address.</span>
                        </span>
                    </div>
                    <div ng-if="!accSocialMedia()">
                        <div class="form-group"
                             ng-class="{ 'has-error': rc.RegisterForm.needsAttention(RegisterForm.Password)}">
                            <label for="Password">Password <span class="glyphicon glyphicon-star"></span></label>
                            <input class="form-control"
                                   name="Password"
                                   ng-model="models.password"
                                   type="password"
                                   required/>
                            <span class="help-block"
                                  ng-show="rc.RegisterForm.needsAttention(RegisterForm.Password)">Required.</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': rc.RegisterForm.needsAttention(RegisterForm.RetypePassword)}">
                            <label for="RetypePassword">Retype Password <span class="glyphicon glyphicon-star"></span></label>
                            <input class="form-control"
                                   match="models.password"
                                   name="RetypePassword"
                                   ng-model="models.retypePassword"
                                   type="password"
                                   required/>
                            <span ng-show="rc.RegisterForm.needsAttention(RegisterForm.RetypePassword)">
                                <span class="help-block"
                                      ng-show="RegisterForm.RetypePassword.$error.required">Required.</span>
                                <span class="help-block"
                                      ng-show="RegisterForm.RetypePassword.$error.match && !RegisterForm.RetypePassword.$error.required">Passwords do not
                                    match.</span>
                            </span>
                        </div>
                    </div>
                    <div class="pp-alert invalid-cred"
                         ng-show="usernameReserved">Username is already reserved.</div>
                    <div><span us-spinner spinner-key="spinner-1"></span></div>
                    <button class="submit-login-form btn btn-primary"
                            name="Submit"
                            ng-disabled="ajaxOn"
                            type="submit">Register</button>
                </form>
            </fieldset>
            <div ng-show="false" class="note">
                <p><strong>NOTE:</strong></p>
                <p>This is a demo version.</p>
                <p>If you do not want to create your own credentials, you may test the basic login with the
                    following credentials:<p>
                <ul>
                    <li>username: a</li>
                    <li>password: a</li>
                </ul>
            </div>

        </div>
        <div class="col-sm-3 col-md-4">
        </div>
    </div>
</div>